<section id="display">
    <div class="container">
        <div class="header">
            <div class="text-left-white">
                Swtich Beetween
            </div>
            <div>
                Light & Dark Mode
            </div>
        </div>
        <div class="laptop-image">
            <img src="~/images/mockup.svg" alt="laptop">
        </div>

    </div>
</section>