<section id="download">
    <div class="container">
        <div class="phone-img">
            <img class="iphone" src="~/images/logos/iPhone 12 Pro.svg" alt="">
            <img class="group" src="~/images/logos/Group 2103.svg" alt="">
        </div>
        <div class="content">
            <h2>Download Our App for Any Devices:</h2>
            <div class="app-items">
                <p class="store-title">App Store</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div>
                </div>
                <div class="editor">
                    <div class="editor-info">
                        <h4>Editor's Choice</h4>
                        <p class="stats">rating 4.7, 187K+ reviews</p>
                    </div>
                    <a href=""><img src="~/images/logos/appstore.svg" alt=""></a>
                </div>


            </div>
            <div class="app-items">
                <p class="store-title">Google Play</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="editor">
                    <div class="editor-info">
                        <h4>Editor's Choice</h4>
                        <p class="stats">rating 4.7, 187K+ reviews</p>
                    </div>
                    <a href="">  <img src="~/images/logos/googleplay.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
