<section class="features">
    <div class="container">
        <div class="headline">
            <h3>What Do You Get with Our Tool?</h3>
            <p>Make Sure all your Tasks are organized so you can set the priorities nad focus on important.</p>
        </div>
        <div class="grid-display">
            <div class="box-1 gridbox">
                <i class="fa-regular fa-comments"></i>
                <h6>Comments on Tasks</h6>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>

            </div>
            <div class="box-2 gridbox">
                <i class="fa-solid fa-magnifying-glass-chart"></i>
                <h6>Tasks Analytics</h6>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="box-3 gridbox shadow-m ">
                <i class="fa-solid fa-person-circle-plus"></i>
                <h6>Mutliple Assignees</h6>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>

            </div>
            <div class="box-4 gridbox">
                <i class="fa-regular fa-bell"></i>
                <h6>Notifications</h6>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="box-5 gridbox">
                <i class="fa-regular fa-rectangle-list"></i>
                <h6>Sections & Subtasks</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quisquam.</p>
            </div>
            <div class="box-6 gridbox">
                <i class="fa-solid fa-shield-halved"></i>
                <h6>Data Security</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, ratione?</p>
            </div>

        </div>


    </div>

</section>