<header class="header">
    <div class="container">
        <a  asp-controller="Home" asp-action="Index" id="logo">
            <img src="~/images/company-icon.svg" alt="silicon logo">
        </a>

        <div class="header-menu" id="menu">
            <nav>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                    <a class="menu-link" asp-controller="Courses" asp-action="Courses" asp-fragment="courses">Courses</a>
                    <a class="menu-link" href="#"> Contact</a>
                }
                else
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                    <a class="menu-link" href="#"> Contact</a>
                }

            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>

        </div>

        <div class="account-buttons">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn-gray" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign Out</a>
            }
            else
            {
                <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign in</a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i>Sign Up</a>
            }


        </div>


    </div>
</header>