<section id="integrate">
<div class="container">
    <div class="header">
        <h2>Integrate Top Work Tools</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
    </div>


    <div class="tools">
        <div class="tool-item">
            <img src="~/images/icons/Google.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div class="tool-item">
            <img src="~/images/icons/Zoom.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div class="tool-item">
            <img src="~/images/icons/Slack.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div class="tool-item">
            <img src="~/images/icons/gmail.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div class="tool-item">
                <img src="~/images/icons/Trello.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div class="tool-item">
                <img src="~/images/icons/MailChimp.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div class="tool-item">
                <img src="~/images/icons/Dropbox.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div class="tool-item">
                <img src="~/images/icons/color.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>

    </div>
</div>
    </section>