

<section class="showcase">

    <div class="container">
        <div class="content">
            <h2>Task Management Assistant You Gonna Love</h2>
            <p class="text-l">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a class="btn-theme-s" href="#">Get Started For free</a>
            <h5>Largest companies use our tool to work efficiently</h5>
            <div class="companies">
                <img src="./images/brand-names/brand-1.svg" alt="">
                <img src="/images/brand-names//brand-2.svg" alt="">
                <img src="/images/brand-names/brand-3.svg" alt="">
                <img src="/images/brand-names/brand-4.svg" alt="">
            </div>
        </div>

    </div>
    <img class="background-img" src="/images/dashbord-image.svg" alt="">
</section>
