<section id="task-manager">
    <div class="container">
        <img src="~/images/task-manager.svg" alt="">

        <div class="content">
            <h2>Manage Your Work</h2>
            <div class="list">
                <p> <i class="fa-regular fa-circle-check"></i> Powerful project management</p>
                <p> <i class="fa-regular fa-circle-check"></i> Transparent work management</p>
                <p> <i class="fa-regular fa-circle-check"></i> manage work & focus on the most important tasks</p>
                <p> <i class="fa-regular fa-circle-check"></i> Track your progress with interactive charts</p>
                <p> <i class="fa-regular fa-circle-check"></i> Easiest way to track time spent on tasks</p>
            </div>
            <a href="#" class="btn-theme">Learn More <i class="fa-solid fa-arrow-right"></i> </a>
        </div>


    </div>

</section>