<section id="sign-in">
    <div class="container">
        <div class="sign-in-box">
            <div class="headline">
                <h3 class="h1">Welcome Back</h3>
                <p>Don't have an account yet? <a href="signup.html">Sign up Here.</a></p>
            </div>

            <div class="bars">
                <p class="text-l">Email</p>
                <label>
                    <input type="email" placeholder="Enter your email address">
                </label>
                <p class="text-l">Password</p>
                <label>
                    <input type="password" placeholder="******">
                </label>

            </div>
            <div class="remember-me">
                <input type="checkbox"> Remember Me
            </div>
            <a class="btn-theme" href="">Sign in</a>
            <a href="support.html">Forgot your password?</a>
        </div>


    </div>


</section>